section{
    min-height: 200vh;
}
.top-element{
    margin-top: 52px !important;
    max-width: 100vw;
    min-height: 66vh;
    background-image: url('https://wallpaperaccess.com/full/296966.jpg');
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.cta-button:hover, .cta-button:focus{
   background-color: var(--bs-secondary) !important;
   transition: all 0.5s ease;

}

.cta-text{
    filter: drop-shadow(-2px 2px 2px #00000044)
}

.shadow-text{
    filter: drop-shadow(-2px 2px 2px #00000044)
}

.info-bottom{
    min-height: 100%;
}

.info-card{
    max-height: 25vh;
}

.tools a{
    background-color: var(--bs-light);
    padding: 2rem;
    max-height: 20vh;
    min-height: 20vh;
    filter: drop-shadow(1px 1px 1px #000000)
}

.tools a:hover, .tools a:focus{
    opacity: 0.5;
    background-color: var(--bs-light);
    transition: all 0.2s ease;
}

.child-page{
    min-height: 20vh !important;
}

.top-left-tool{
    border-radius: 0 0 0 1rem;
}

.top-right-tool{
    border-radius: 1rem 0 0 0;
}

.bottom-left-tool{
    border-radius: 0 0 10px 10px;
}

.bottom-right-tool{
    border-radius: 0 0 10px 10px;
}

.tool-img{
    filter: drop-shadow(-3px 4px 3px #49494980)
}

.home-image{
    background-image: url('../../assets/img/dribbbbble.gif');
    background-size: contain;
    padding: 150px 150px 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
}