#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    transition: top 0.3s;
    overflow-x: hidden;
    z-index: 100;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 0 !important;
  }

  .add-height{
    transform: translate();
    transition: all 0.5s ease;
  }

  @media(max-width: 420px){
    .navRedux{
      font-size: 12pt;
    }
  }

  
