.post-card{
    min-height: 15rem;
    max-height: 15rem;
    overflow: hidden;
}

.selectable-add:active, .selectable-add:focus{
    transform: scale(0.98);
    transition: all 0.1s ease;
}

.post-text{
    text-overflow: ellipsis;
    max-height: 12rem;
    overflow: hidden;
}